.div {
    background-color: #fff;
  }
  .div-2 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-3 {
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 9px 10px 50px;
  }
  .div-4 {
    color: #000;
    white-space: nowrap;
    border-radius: 8px;
    background-color: #68d7e7;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    font: 400 20px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-4 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-5 {
    color: #000;
    border-radius: 8px;
    background-color: #68d7e7;
    margin-top: 43px;
    align-items: start;
    padding: 13px 60px 26px 74px;
    font: 400 14px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      margin-top: 40px;
      padding: 0 20px 0 30px;
    }
  }
  .div-6 {
    color: #000;
    border-radius: 8px;
    background-color: #68d7e7;
    margin-top: 17px;
    align-items: start;
    padding: 13px 60px 23px 74px;
    font: 400 14px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      padding: 0 20px 0 30px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 77%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-7 {
    background-color: #68d7e7;
    display: flex;
    flex-grow: 1;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
    }
  }
  .div-8 {
    background-color: #f6f4ac;
    align-self: stretch;
    z-index: 10;
    display: flex;
    padding-right: 80px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  .img {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 81px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-9 {
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 25px Montserrat, sans-serif;
  }
  .div-10 {
    display: flex;
    margin-top: 67px;
    width: 905px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-10 {
      margin-top: 40px;
    }
  }
  .div-11 {
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    align-self: start;
    width: 301px;
    max-width: 100%;
    justify-content: center;
    padding: 16px 20px;
    font: 400 24px Montserrat, sans-serif;
  }
  .div-12 {
    color: #000;
    border-radius: 5px;
    background-color: #8f87eb;
    align-self: end;
    margin-top: 57px;
    width: 289px;
    max-width: 100%;
    padding: 11px 14px 21px;
    font: 400 24px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-12 {
      margin-top: 40px;
    }
  }
  .div-13 {
    display: flex;
    margin-top: 57px;
    width: 905px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-13 {
      margin-top: 40px;
    }
  }
  .div-14 {
    color: #000;
    border-radius: 5px;
    background-color: #fff;
    align-self: start;
    width: 379px;
    max-width: 100%;
    padding: 12px 21px 25px;
    font: 400 24px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-14 {
      padding-right: 20px;
    }
  }
  .div-15 {
    color: #000;
    border-radius: 5px;
    background-color: #8f87eb;
    align-self: end;
    margin-top: 57px;
    width: 301px;
    max-width: 100%;
    justify-content: center;
    padding: 9px 46px 9px 27px;
    font: 400 24px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-16 {
    display: flex;
    margin-top: 114px;
    width: 926px;
    max-width: 100%;
    align-items: start;
    gap: 15px;
  }
  @media (max-width: 991px) {
    .div-16 {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-17 {
    color: rgba(165, 159, 159, 0.64);
    border-radius: 5px;
    background-color: #fff;
    flex-grow: 1;
    justify-content: center;
    align-items: start;
    padding: 20px 60px 20px 42px;
    font: 400 32px Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 67px;
    overflow: hidden;
    border-radius: 50%;
    max-width: 100%;
  }